body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
  color: #111;
}

header {
  background-color: #232f3e;
  color: white;
  text-align: center;
  padding: 40px 10px;
}

header h1 {
  margin: 0;
  font-size: 28px;
}

header p {
  font-size: 16px;
  color: #ccc;
}

.registry-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
  gap: 25px;
}

.registry-box {
  background-color: white;
  width: 300px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.registry-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.registry-box h2 {
  color: #232f3e;
  font-size: 20px;
}

.registry-box p {
  font-size: 14px;
  color: #555;
  margin: 15px 0;
}

input[type="text"] {
  width: 90%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

button {
  background-color: #febd69;
  color: #111;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #f3a847;
}

.info-section {
  background-color: white;
  margin: 30px auto;
  padding: 25px;
  width: 80%;
  max-width: 800px;
  border-radius: 10px;
  
}

.info-section h2 {
  color: #232f3e;
  text-align: center;
}

.info-section ul {
  list-style-type: none;
  padding: 0;
}

.info-section li {
  padding: 10px 0;
  font-size: 15px;
  color: #333;
}

footer {
  text-align: center;
  background-color: #131a22;
  color: white;
  padding: 15px;
  font-size: 14px;
}
.button a {
    text-decoration: none;
   
}
.button{
    text-align: center;
}