*{
    padding: 0px;
    margin: 0px;
    
}
body{
    background-color: #dadada;
}
a{
    text-decoration: none;
    color: inherit;
}
nav{
    align-items: center;
    background-color: #131921;
    height: 80px; 
}
.nav-bottom{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    height: 80px;
    color: black;
    font-size: 30px;
}
.header-slider img{
    overflow: hidden;
    height:750px ;
    width:100% ;
}
.box-col{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding:  20px;
    background:#fff ;
    max-width: 100%;
    min-width:200px ;
}
.box-row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0px;

}  

.box-col a{
    font-size: 13px;
    color: #009999;
    font-weight: 500; 
}

.product-slider .products{
    display: flex;
    overflow: auto;
    gap: 20px;
    margin-top: 10px;

}
.product-slider .products img{
    max-width: 200px;
    max-height: 200px;
} 
.beauty{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0px;
}
.product{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding:  20px;
    background:#fff ;
    max-width: 100%;
    min-width:200px ;
}
h1{
    background-color: #37d4d4;
    text-align: center;
    height: 50px;
}
.product-slider .products img{
    max-width: 200px;
    max-height: 200px;
} 
footer {
  background-color: #232f3e;
  color: white;
  padding: 40px 0;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: auto;
}

.footer-section {
  width: 200px;
  margin-bottom: 20px;
}

.footer-section h3 {
  font-size: 16px;
  margin-bottom: 15px;
  border-bottom: 1px solid #3a4553;
  padding-bottom: 5px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section a {
  color: #ddd;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section a:hover {
  color: #febd69;
}

.footer-bottom {
  text-align: center;
  background-color: #131a22;
  padding: 15px;
  font-size: 14px;
}

   
    

    



        
   
        







        
