*{
    padding: 0;
    margin: 0;
    
}
body{
    background-color: #dadada;
}
a{
    text-decoration: none;
    color: inherit;
}
nav{
    align-items: center;
    background-color: #131921;
    height: 80px; 
}
.nav-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: yellowgreen;
    height: 80px;
   
}
.box-col{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding:  20px;
    background:#fff ;
    max-width: 100%;
    min-width:200px ;
}
.box-row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0px;

}  

.box-col a{
    font-size: 13px;
    color: #009999;
    font-weight: 500; 
}

.product-slider .products{
    display: flex;
    overflow: auto;
    gap: 20px;
    margin-top: 10px;

}
.product-slider .products img{
    max-width: 200px;
    max-height: 200px;
} 
.beauty{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0px;
}
.product{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding:  20px;
    background:#fff ;
    max-width: 100%;
    min-width:200px ;
}
h1{
    background-color: #37d4d4;
    text-align: center;
    height: 50px;
}
.product-slider .products img{
    max-width: 200px;
    max-height: 200px;
} 
   
    

    



        
   
        







        
