   body {
      font-family: Arial, sans-serif;
      background-color: #f3f3f3;
      margin: 0;
      padding: 0;
    }

    h1 {
      text-align: center;
      background-color: #232f3e;
      color: white;
      padding: 20px;
    }

    .deals {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;
      margin: 20px;
    }

    .card {
      background-color: white;
      width: 200px;
      text-align: center;
      border-radius: 8px;
      padding: 10px;
    }

    .card img {
      width: 100%;
      height: 150px;
    }

    .price {
      color: red;
      font-weight: bold;
    }

    button {
      background-color: #febd69;
      border: none;
      padding: 8px 12px;
      margin-top: 8px;
      border-radius: 5px;
      cursor: pointer;
    }

    button:hover {
      background-color: #f3a847;
    }

    footer {
      text-align: center;
      background-color: #131a22;
      color: white;
      padding: 10px;
      margin-top: 20px;
    }
    .button a {
        text-decoration: none;
   
    }
    .button{
        text-align: center;
    }